body{
background-color:#F0F2F5;
text-align: center;
align-items: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
margin-top: 10%;
}

#register-div, #body-div{
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
    align-items: center;
    padding: 3%;
   
}

input{
   width: 95%;
}

#root{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news-class{
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    margin: 10px;
    width:25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-img{
    width: 95%;
    padding-top: 5px;
    
}